*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1c;
}

.container {
    width: 800px;
    height: auto;
    min-height: 400px;
    max-width: 80%;
    max-height: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
}

.btn {
    width: 50%;
    height: 70px;
    margin: 3%;
    font-size: 140%;
    background-color: #252525;
    border: #1e1d1d;
    border-radius: 5px;
    padding: 5px;
    color: white;
    outline: none;
}

.btn:hover {
    background-color: #252525bb ;
    border-color: black;
}

.difficulty {
    font-size: 150%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.settings-btn {
    width: 50%;
    height: 50px;
    margin: 3%;
    font-size: 140%;
    background-color: #7b7b7b;
    border: #656565;
    border-radius: 5px;
    padding: 5px;
    color: white;
    outline: none;
}

.settings-btn:hover {
    background-color: #4b4b4b;
    border-color: black;
}

.btn-grid {
    position: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.game-btn {
    width: 40%;
    height: 50px;
    font-size: 130%;
    margin: 1%;
    display: fixed;
    background-color: #19194d;
    border: #131339;
    border-radius: 5px;
    padding: 5px;
    color: white;
    outline: none;
}

.game-btn:hover {
    background-color: #202060bb;
    border-color: black;
}

.main-stats {
    width: auto;
    height: 10%;
    margin-top: 3%;
    background-color: #CCCCCC;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.warning_message {
    color: red;
    font-size: 130%;
}

.inventory {
    font-size: 130%;
}

.title {
    font-size: 300%;
}

.btn-small {
    margin: 10%;
    font-size: 110%;
}