<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Menu</title>
</head>
<body>
    <div class="container">
        <h1 class="title" style="margin: 1%;">Castle</h1>
        <img src="https://i.pinimg.com/originals/71/f8/54/71f8544fa761f7593752cb34d1523b17.png">
        <h3>
            You are standing in front of his castle. You are wondering if you are ready to challenge him fo a battle
            or if you should go train on some simpler enemies.
        </h3>
        <div class="btn-grid">
            <form method="post" action="/challenge-the-boss">
                <input class="btn" type="submit" value="Challenge" name="Challenge">
                <input class="btn" type="submit" value="Not yet" name="Not yet">
            </form>
        </div>
    </div>
</body>
</html>