<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Story</title>
</head>
<body>
    <div class="container">
        <h2>{{title | safe}}</h2>
        <h3>{{text | safe}}</h3>
        <img src="{{image}}">
        
        <div class="warning_message">
            {{warning_message | safe}}
        </div>
        
        <div class="btn-grid">
            <form method="post" action="/event">
                <input class="btn" type="submit" value="Yes" name="Yes">
                <input class="btn" type="submit" value="No" name="No">
            </form>
        </div>
    </div>

</body>
</html>