<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Menu</title>
</head>
<body>
    <div class="container">
        <h1>Feedback</h1>
        <p>
            If you found a bug or have some ideas, please write them here.
        </p>
        <form method ="post" action="/feedback">
            <input class="input" title="feedback" type="text" name="feedback" required> <br>
            <button type="submit" class="game-btn" style="max-width: 30%;">Submit</button>
        </form>
        <a href="{{ url_for('menu') }}"><button class="btn">Back</button></a>
    </div>
</body>
</html>