<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Game</title>
</head>
<body>

    <div class="container">
        <div class="text">
            <h1>{{name | safe}}</h1>
            <h3>{{description | safe}}</h3>
        </div>
        <div class="warning_message">
            {{warning_message | safe}}
        </div>
        <div class="btn-grid">
            <form method="post" action="/game">
                <input class="game-btn" type="submit" value="Strike" name="Strike">
                <input class="game-btn" type="submit" value="Shoot" name="Shoot">
                <input class="game-btn" type="submit" value="Heal" name="Heal"> 
                <input class="game-btn" type="submit" value="Inventory" name="Inventory">
            </form>
        </div>
        <div class="main-stats">
            <h3>Health: {{health | safe}} &nbsp;&nbsp; Cheese: {{cheese |safe }} &nbsp;&nbsp; Arrows: {{arrows | safe}}</h3>
        </div>
    </div>

</body>
</html>