<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Game Over</title>
</head>
<body>
    <div class="container">
        <h1 class="title" style="margin: 1%;">Game Over</h1>
        <h3> You died</h3>
        <img scr="https://i.pinimg.com/originals/7d/3b/7b/7d3b7b947db23279316d313e3aad6057.jpg">
        <div class="back_to_menu">
            <a href="{{ url_for('menu') }}"><button class="btn">Menu</button></a>
        </div>
    </div>
</body>
</html>