<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Menu</title>
</head>
<body>
    <div class="container">
        <h1> How to play?</h1>
        <h3>
            Strike button - you will attack with your melee weapon dealing damage to the enemy but also taking damage <br>
            Shoot button -  you will attack with your ranged weapon dealing damage to the enemy but <strong>not</strong> taking damage <br>
            Heal button - you will heal yourself by eating cheese - 20 health <br>
            Inventory button - you can see your equipment <br>
            <br>
            Try to keep your health above 0, defeating enemies to progress through story (not implemented yet) <br>
            <br>
            Hope you enjoy it!
        </h3>
        <a href="{{ url_for('menu') }}"><button class="btn">Back</button></a>
    </div>
</body>
</html>