<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Story</title>
</head>
<body>
    <div class="container">
        <h2>{{text | safe}}</h2>

        <div class="loot-btn-grid">
            <form method="post" action="/loot-armor">
                <input class="loot-btn" type="submit" value="Equip armor" name="Equip armor">
                <input class="loot-btn" type="submit" value="Continue" name="Continue">
            </form>
        </div>
    </div>

    <div class="left-container">
        <h1>Stats:</h1>
        <h2>Health: <br> {{health | safe}}</h2>
        <h2>Resistance: <br> {{resistance | safe}}</h2>
        <h2>Attack1: <br> {{attack1 | safe}}</h2>
        <h2>Attack2: <br>  {{attack2 | safe}}</h2>
        <h3>Difficulty: <br> {{difficulty | safe}}</h3>
    </div>
    
    <div class="right-container">
        <h1>Equipment:</h1>
        <h2>Weapon1: <br> {{weapon1 | safe}}</h2>
        <h2>Weapon2: <br> {{weapon2 | safe}}</h2>
        <h2>Armor: <br> {{armor | safe}}</h2>
        <h2>Cheese: <br> {{cheese | safe}}</h2>
    </div>

</body>
</html>