<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Menu</title>
</head>
<body>
    <div class="container">
        <h1 class="title"></h1>
        <div class="prologue">
            <h3>
                    You wake up at 3 am, feeling weirdly motivated to do some heroic deeds.
                You start thinking of everything you are going to do until you fall asleep.<br>
                <br>
                    You wake up in the morning still feeling motivated, so you decide to go buy some things you need.
                You don't have that much money, but you were still able to buy an Iron sword, Simple Bow, Leather Armor, some food, and arrows.
                You step out of the comfort of your village, take a deep breath and start your adventure.<br>
                <br>
                    Not long after, you found your first enemy...   
            </h3>
        </div>
        <a href="{{ url_for('game') }}"><button class="btn">Continue</button></a>
    </div>
</body>
</html>