<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Event</title>
</head>
<body>
    <div class="container">
        <img src="https://i.pinimg.com/736x/71/fd/fe/71fdfe9704b78f3a9842d7db9de7d3d8.jpg">
        <h3>
            You tried to steal a cheese but somebody noticed you and called guards.
            Now you are going to jail.
        </h3>
        <a href="{{ url_for('jail') }}"><button class="btn">Continue</button></a>
    </div>
</body>
</html>