<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Event</title>
</head>
<body>
    <div class="container">
        <img src="https://i.pinimg.com/originals/a4/1f/a8/a41fa8317734d361d2b5cff795d95ecf.jpg">
        <h3>
            You were able to steal a cheese.
        </h3>
        <a href="{{ url_for('village') }}"><button class="btn">Continue</button></a>
    </div>
</body>
</html>