<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Game</title>
</head>
<body>

    <div class="container">
        <h1 class="title" style="margin: 1%;">Village</h1>
        <img src="https://i.pinimg.com/originals/d9/10/95/d91095e3dc39b80580a7fbd34ecb2cb6.jpg">
        <div class="btn-grid">
            <form method="post" action="/village">
                <input class="game-btn" type="submit" value="Blacksmith" name="Blacksmith">
                <input class="game-btn" type="submit" value="Royal Quest" name="Royal Quest">
                <input class="game-btn" type="submit" value="Steal Food" name="Steal Food">
                <input class="game-btn" type="submit" value="Camp" name="Camp">
            </form>
        </div>
        <div class="main-stats">
            <h3>Health: {{health | safe}} &nbsp;&nbsp; Cheese: {{cheese |safe }} &nbsp;&nbsp; Arrows: {{arrows | safe}} &nbsp;&nbsp; Gold: {{gold | safe}}</h3>
        </div>
    </div>

</body>
</html>